<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Tugas Layout</title>
</head>
<style>
body {
  background-color: rgb(13, 137, 141);
}
body{
    font-family: cursive;font-size: 12px;
}
body {
  color: rgb(241, 241, 241);
}
</style>
<header style="text-align: center; font-size: 250%;font-family: monospace;"> 
    <b>Bill Withers</b></header>
 <hr style="height: 3px; border-width: 0px;color: rgb(235, 12, 12); 
 background-color: rgb(226, 15, 15);">


<div style="float: left; margin-right: 15px;">
    <img src="Bill Withers.jpeg" width="185px" height="200px">
</div>
    <h3> Lovely Day</h3>
    <a>Single by &ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;Bill Withers</a><br>
    <a>Album &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Menagerie </a><br>
    <a>Release &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; December 21, 1977</a><br>
    <a>Genre &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; RnB . Soul . Funk</a><br>
    <a>Length &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 3.46 (single version) | 4.15 (Album Version)</a><br>
    <a>Label &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Columbia</a><br>
    <a>Songwriter(s) &ensp;&ensp; Bill Withers . Skip Scarborough</a><br>
    <a>Producer(s) &ensp;&ensp; Bill Withers . Clearence McDonald</a><br>
    </body><br>
<body>
<h2>Lovely Day</h2><hr style="height: 1px; border-width: 0px;color: rgb(235, 12, 12); 
background-color: rgb(226, 15, 15);">
<span><i>From wikipedia</i></span><br><br>
<span>
"Lovely Day" is a song by American soul and R&B singer Bill Withers. 
Written by Withers and Skip Scarborough, it was released on December 21, 1977, 
and appears on Withers's 1977 album, Menagerie.<br>
The song is notable for Withers's sustained note towards the end, which, 
at 18 seconds long, is one of the longest ever recorded on an American pop song. 
<br><br>
    "Lovely Day" has been re-released as a single in the United Kingdom 
    at least twice since the song's first chart run; in 1987 the original 
    version charted again at number 92, while a remix done by Ben Liebrand, 
    named the "Sunshine Mix", made the British Top 10 in 1988, rising 
    to number 4.[2] This remix resulted in renewed enthusiasm for the Withers 
    original, which incurred a surge in airplay into the early 1990s and came 
    to firmly overshadow the radio presence of Liebrand's version. Public interest 
    was again piqued in 1995, when "Lovely Day" was used in adverts for Tetley tea, 
    again in 1999 for a Gap commercial directed by Hype Williams, and yet again in 
    2020 in ads for Good Morning Football on NFL Network, Allstate insurance TV 
    commercial, as well as an ad for Pandora Jewelers. On January 20, 2021, the 
    song was performed by Demi Lovato, with backing vocals from Lin-Manuel Miranda 
    and several frontline healthcare workers amid the COVID-19 pandemic, as a part 
    of the entertainment broadcast entitled Celebrating America following the 
    inauguration of President Joe Biden.[3][4]<br><br>
    Producer Clarence McDonald also arranged the original 1977 version of 
    the song and played keyboards. Guitars were played by Ray Parker Jr., 
    Jerry Knight played bass, and Russ Kunkel played drums. </span><br><br> 
<audio controls>
    <source src="Single Version.mp3">
</audio>
<audio controls>
    <source src="Lovely Day.mp3">
</audio>
<video width="317px" height="200px" controls>
  <source src="Lovely Day.mp4" type="video/mp4">
  </video>
<style>
    table {
  width: 100%;
  border: 1px solid rgb(202, 8, 8);
}
</style>
<table style="width:25%; float: right; text-align: center;">
        <tr>
          <th>Attachment</th>
        </tr>
        <tr>
          <td> <a href="/Bill Withers"> Bill Withers</a> </td>
        </tr>
        <tr>
          <td> <a href="/Skip Scarborough"> Skip Scarborough </a></td>
        </tr>
        <tr>
          <td> <a href="/Clearence McDonald">Clearence McDonald</a> </td>
        </tr>
        <tr>
          <td> <a href="/Columbia"> Columbia </a></td>
        </tr>
        <tr>
            <td> <a href="/RnB"> RnB</a></td>
          </tr>
        <tr>
            <td> <a href="/Soul"> Soul </a></td>
          </tr>
          <tr>
            <td> <a href="/Funk"> Funk</a></td>
          </tr>
          <tr>
            <td> <a href="/Menagerie"> Menagerie</a></td>
          </tr>
          <tr>
            <td> <a href="/Sunshine Mix"> Sunshine Mix </a></td>
          </tr>
</table>
<br><br><br><br>
<FOOTER> <!-- site wide footer --> 
    <NAV style="position: fixed;left: 0;bottom: 0;width: 100%;height: 5%;
    background-color:rgb(190, 20, 20);text-align: center;font-size: 16px; 
    color: rgb(247, 241, 241);font-family: 'Franklin Gothic Medium">
       © Copyright
    </NAV> 
  </FOOTER>
</body>
</html>